<div class="fade-in">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
                    <div class="card-header"><strong>Ajouter un projet</strong> </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="code">Code:</label>
                                    <input class="form-control" formControlName="code" id="code" type="text"
                                        placeholder="Saisissez le code ici"
                                        [ngClass]="{ 'is-invalid': submitted && projectForm.get('code').errors }">
                                    <div *ngIf="submitted && projectForm.get('code').errors"
                                        class="invalid-feedback d-block">
                                        <div *ngIf="projectForm.get('code').errors.required">Le champ code est
                                            obligatoire.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="description">Description:</label>
                                    <textarea class="form-control" formControlName="description" id="description"
                                        row="3" placeholder="Saisissez la description ici"
                                        [ngClass]="{ 'is-invalid': submitted && projectForm.get('description').errors }"></textarea>
                                    <div *ngIf="submitted && projectForm.get('description').errors"
                                        class="invalid-feedback d-block">
                                        <div *ngIf="projectForm.get('description').errors.required">Le champ description
                                            est obligatoire.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="state">État:</label>
                                    <select class="form-control" formControlName="state" id="state"
                                        [ngClass]="{ 'is-invalid': submitted && projectForm.get('state').errors }">
                                        <option value="TO_DO">À faire</option>
                                        <option value="IN_PROGRESS">En cours</option>
                                        <option value="DONE">Fini</option>
                                    </select>
                                    <div *ngIf="submitted && projectForm.get('state').errors"
                                        class="invalid-feedback d-block">
                                        <div *ngIf="projectForm.get('state').errors.required">Le champ état est
                                            obligatoire.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="pays">Pays:</label>
                                    <select class="form-control" formControlName="pays" id="pays"
                                        [ngClass]="{ 'is-invalid': submitted && projectForm.get('pays').errors }">
                                       <option *ngFor="let country of countries" [value]="country?.id">
                                            {{ country?.libelle}}
                                       </option>
                                    </select>
                                    <div *ngIf="submitted && projectForm.get('pays').errors"
                                        class="invalid-feedback d-block">
                                        <div *ngIf="projectForm.get('pays').errors.required">Le champ pays est
                                            obligatoire.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="prix">Prix:</label>
                                    <input class="form-control" formControlName="prix" id="prix" type="text"
                                        placeholder="Saisissez le prix ici"
                                        [ngClass]="{ 'is-invalid': submitted && projectForm.get('prix').errors }">
                                    <div *ngIf="submitted && projectForm.get('prix').errors"
                                        class="invalid-feedback d-block">
                                        <div *ngIf="projectForm.get('prix').errors.required">Le champ prix est
                                            obligatoire.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="startDate">Date de début:</label>
                                    <input class="form-control" formControlName="startDate" id="startDate" type="date"
                                        placeholder="Saisissez la date de début ici"
                                        [ngClass]="{ 'is-invalid': submitted && projectForm.get('startDate').errors }">
                                    <div *ngIf="submitted && projectForm.get('startDate').errors"
                                        class="invalid-feedback d-block">
                                        <div *ngIf="projectForm.get('startDate').errors.required">Le champ date de début
                                            est obligatoire.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="endDate">Date de fin:</label>
                                    <input class="form-control" formControlName="endDate" id="endDate" type="date"
                                        placeholder="Saisissez la date de fin ici"
                                        [ngClass]="{ 'is-invalid': submitted && projectForm.get('endDate').errors }">
                                    <div *ngIf="submitted && projectForm.get('endDate').errors"
                                        class="invalid-feedback d-block">
                                        <div *ngIf="projectForm.get('endDate').errors.required">Le champ date de fin est
                                            obligatoire.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  Button retour & submit -->
                    <div class="row">
                        <div class="offset-sm-5 col-sm-3 offset-md-7 col-md-2">
                            <a routerLink="/projects" class="btn btn-primary btn-pill btn-block">
                                <c-icon name="cil-arrow-left"></c-icon> Retour
                            </a>
                        </div>
                        <div class="col-sm-3 col-md-2 form-group form-actions">
                            <button type="submit" class="btn btn-success btn-pill btn-block">
                                <c-icon name="cil-check-circle"></c-icon> Ajouter
                            </button>
                        </div>
                    </div>
                    <!-- / Button retour & submit-->
                </form>
            </div>
        </div>
    </div>
</div>