<c-container>
  <c-row class="justify-content-center">
    <c-col md="8">
      <c-card-group>
        <c-card class="p-4">
          <c-card-body>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <h1>Authentification</h1>
              <p class="text-muted">Connectez-vous à votre compte</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <c-icon name="cil-user"></c-icon>
                  </span>
                </div>
                <input cInput placeholder="E-mail" autocomplete="email" formControlName="email"
                [ngClass]="{'is-invalid': submitted && loginForm.controls.email.errors, 'is-valid': submitted && !loginForm.controls.email.errors }"/>
                <div class="invalid-feedback d-block">
                  <div *ngIf="submitted && loginForm.get('email').hasError('required')">L'adresse e-mail est
                    obligatoire.</div>
                  <div *ngIf="submitted && loginForm.get('email').hasError('email')">Le champ e-mail doit être une
                    adresse e-mail valide.</div>
                </div>
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <c-icon name="cil-lock-locked"></c-icon>
                  </span>
                </div>
                <input cInput type="password" placeholder="Mot de passe" autocomplete="current-password" formControlName="password"
                [ngClass]="{'is-invalid': submitted && loginForm.controls.password.errors, 'is-valid': submitted && !loginForm.controls.password.errors }">
                <div class="invalid-feedback d-block">
                  <div *ngIf="submitted && loginForm.get('password').hasError('required')">Le champ mot de passe est
                    obligatoire.</div>
                  <div *ngIf="submitted && loginForm.get('password').hasError('minlength')">Le mot de passe doit
                    être au moins de 8 caractères.</div>
                </div>
              </div>
              <c-row>
                <c-col col="12">
                  <button cButton color="primary" class="px-4 btn-block" type="submit">Connexion</button>
                </c-col>
              </c-row>
            </form>
          </c-card-body>
        </c-card>
        <!-- <c-card color="primary" class="text-white d-md-down-none" style="width: 44%;">
          <c-card-body class="text-center m-0">
            <img
              class="img-fluid"
              src="assets/img/login.jpg"
              alt="startup"
            />
          </c-card-body>
        </c-card> -->
        <div class="card">
          <div class="card-body">
            <img  src='/assets/img/login.jpg' alt="Background section" class="img-fluid"/>
          </div>
        </div>
      </c-card-group>
    </c-col>
  </c-row>
</c-container>
