<c-container>
  <c-row alignH="center">
    <c-col md="6">
      <div class="clearfix">
        <h1 class="float-left display-3 mr-4">404</h1>
        <h4 class="pt-3">Oops! Voilà qu'il n'était pas pas prévu.</h4>
        <p class="text-muted float-left">
          Désolé mais ce lien est introuvable ! Dérigez-vous vers la page d'accueil.
        </p>
      </div>
      <div class="col-12">
          <button cButton color="info" routerLink="/dashboard">Allez vers la page d'accueil</button>
      </div>
    </c-col>
  </c-row>
</c-container>
