<c-container>
  <c-row alignH="center">
    <c-col md="6">
      <div class="clearfix">
        <h1 class="float-left display-3 mr-4">500</h1>
        <h4 class="pt-3">Oops, nous avons un problème!</h4>
        <p class="text-muted">
          La page que vous recherchez est temporairement indisponible.
        </p>
      </div>
      <div class="col-12">
        <button cButton color="info" routerLink="/dashboard">Allez vers la page d'accueil</button>
      </div>
    </c-col>
  </c-row>
</c-container>
