<c-row>
  <c-col md="4">
    <c-form-group>
      <label cLabel for="name">Traveller Name</label>
      <input cInput id="name" placeholder="Enter name">
    </c-form-group>
  </c-col>
  <c-col md="2">
    <c-form-group>
      <label cLabel for="name">Grnder</label>
      <select cSelect custom id="select1-d" name="select1-c" required>
        <option value="">Please select</option>
        <option value="1">Male</option>
        <option value="2">Female</option>
        <option value="3">Others</option>
      </select>
    </c-form-group>
  </c-col>
  <c-col md="2">
    <c-form-group>
      <label cLabel for="name">D.O.B</label>
      <input cInput id="name" type="date" placeholder="dd-mm-yyyy">
    </c-form-group>

  </c-col>
  <c-col md="2">
    <c-form-group>
      <label cLabel for="name">Nationality</label>
      <input cInput id="name" type="text  " placeholder="Enter Nationality">
    </c-form-group>

  </c-col>

  <c-col md="2">
    <c-form-group>
      <label cLabel for="name">Passport No</label>
      <input cInput id="name" type="text  " placeholder="Enter Nationality">
    </c-form-group>

  </c-col>

  <c-col md="2">
    <c-form-group>
      <label cLabel for="name">Senior</label>
      <c-form-group>
        <c-form-check inline custom variant="radio" class="mfe-3">
          <input cInput type="radio" name="radios-c" id="radio-c1" value="option1" checked class="custom-control-input">
          <label class="custom-control-label" for="radio-c1">Yes</label>
        </c-form-check>
        <c-form-check inline custom variant="radio" class="mfe-3">
          <input cInput type="radio" name="radios-c" id="radio-c2" value="option2" class="custom-control-input">
          <label class="custom-control-label" for="radio-c2">No</label>
        </c-form-check>


      </c-form-group>
    </c-form-group>

  </c-col>
  <c-col md="3">
    <c-form-group>
      <label cLabel for="name">Vault</label>
      <input cInput type="file" id="file-multiple-input" name="file-multiple-input" multiple>
    </c-form-group>
  </c-col>
</c-row>
<div class="pt-3">
  <button cButton type="submit" color="primary" size="sm" class="mfe-1">
    <c-icon name="cil-check-circle" size="sm"></c-icon>
    <span> Submit</span>
  </button>
  <button cButton type="reset" color="danger" size="sm">
    <c-icon name="cil-ban" size="sm"></c-icon>
    <span> Reset</span>
  </button>
</div>
